/* definitions */
@import "./definitions/sizes.css";
@import "./definitions/palette.css";

/* utility classes */
@import "./utility.css";

/* webpage sections */
@import "./sections/navigation.css";
@import "./sections/header-hero.css";
@import "./sections/fly-talks.css";
@import "./sections/how-to-find-us.css";
@import "./sections/follow-us-online.css";
@import "./sections/timetable.css";
@import "./sections/speakers.css";
@import "./sections/quote_digital-generation.css";
@import "./sections/sponsors.css";
@import "./sections/jobs.css";
@import "./sections/application.css";
@import "./sections/quote_luka-abrus.css";
@import "./sections/gallery.css";
@import "./sections/faq.css";
@import "./sections/contact-form.css";
@import "./sections/footer.css";

/* fonts */
@font-face {
  font-family: FuseV2Display-Regular;
  src: url("../assets/fonts/FuseV.2Display-Book.woff2");
}
@font-face {
  font-family: FuseV2Display-Italic;
  src: url("../assets/fonts/FuseV.2Display-BookItalic.woff2");
}
@font-face {
  font-family: FuseV2Display-ExtraBold;
  src: url("../assets/fonts/FuseV.2Display-ExtraBold.woff2");
}
@font-face {
  font-family: FuseV2Display-ExtraBold-Italic;
  src: url("../assets/fonts/FuseV.2Display-ExtraBoldItalic.woff2");
}
@font-face {
  font-family: FuseV2Text-Regular;
  src: url("../assets/fonts/FuseV.2Text-Book.woff2");
}
@font-face {
  font-family: FuseV2Text-Italic;
  src: url("../assets/fonts/FuseV.2Text-BookItalic.woff2");
}
