.frosted-bg {
  background-color: #f5f5f70d;
  backdrop-filter: blur(2px);
}

.main-accent-clipped-text {
  background-color: var(--white);
  background-image: var(--accent-main);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.accent-4800-clipped-text {
  background-color: var(--white);
  background-image: var(--accent-4800);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.accent-60-clipped-text {
  background-color: var(--white);
  background-image: var(--accent-60);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.accent-70-clipped-text {
  background-color: var(--white);
  background-image: var(--accent-70);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.accent-10-clipped-text {
  background-color: var(--white);
  background-image: var(--accent-10);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.accent-7-clipped-text {
  background-color: var(--white);
  background-image: var(--accent-7);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.accent-180-clipped-text {
  background-color: var(--white);
  background-image: var(--accent-180);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.disable-overflow {
  overflow-x: hidden;
}