.frosted-bg {
  background-color: #f5f5f70d;
  backdrop-filter: blur(2px);
}

.main-accent-clipped-text {
  background-color: var(--white);
  background-image: var(--accent-main);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}