footer {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 32px;
}

.footer_social > svg {
  stroke: var(--white);
}
