footer {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 32px;
  margin-bottom: 64px;
}

.footer_social > svg {
  stroke: var(--white);
}

footer > a {
  text-decoration: none;
  color: var(--white);
}

@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
  }
}
