.how-to-find-us {
  margin-top: 800px;
  color: var(--white);
  overflow: hidden;
  max-width: var(--max-width-mobile);
  margin-left: auto;
  margin-right: auto;
}

.how-to-find-us__map {
  margin-left: -86px;
}

.how-to-find-us__title {
  margin-top: -104px;
  padding-left: 24px;
  padding-right: 24px;
}

.how-to-find-us__title > h2 {
  font-size: 54px;
}

.how-to-find-us__details {
  margin-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
}

.how-to-find-us__details > h3 {
  font-size: 36px;
}

.how-to-find-us__details > p {
  margin-top: 16px;
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .how-to-find-us {
    margin-top: 256px;
    max-width: var(--max-width-desktop);
  }

  .how-to-find-us__map {
    margin-left: 0;
    width: 100%;
    max-width: var(--max-width-desktop);
  }

  .how-to-find-us__desktop-wrapper {
    margin-top: -600px;
    margin-bottom: 400px;
    padding-left: 24px;
  }

  .how-to-find-us__title {
    margin-top: 0;
  }

  .how-to-find-us__title > h2 {
    font-size: 122px;
  }

  .how-to-find-us__title > p {
    font-size: 24px;
  }

  .how-to-find-us__details {
    width: 400px;
  }

  .how-to-find-us__details > h3 {
    font-size: 54px;
  }
}
