.sponsors {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.gold-sponsors-title {
  margin-top: 256px;
  font-size: 54px;
  text-align: center;
}

.gold-sponsors {
  margin-top: 150px;
}

.gold-sponsors-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}

.gold-sponsors-about {
  margin-top: 200px;
}

.sponsor-about {
  padding-bottom: 49px;
  border-bottom: 1px solid #f5f5f710;
}

.sponsor-about:not(:first-child) {
  margin-top: 50px;
}

.sponsor-about > img {
}

.sponsor-about-text {
  width: 337px;
}

.sponsor-about-text > h3 {
  margin-top: 10px;
  font-size: 24px;
}

.sponsor-about-text > p {
  margin-top: 10px;
}

.other-sponsors {
}

.other-sponsors-tier {
  margin-top: 256px;
}

.other-sponsors-title {
  font-size: 36px;
  text-align: center;
}

.other-sponsors-tier-group {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.other-sponsors-group {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 74px;
  width: fit-content;
}

@media screen and (min-width: 1024px) {
  .gold-sponsors-logos {
    flex-direction: row;
  }

  .sponsor-about {
    display: flex;
    gap: 50px;
  }

  .sponsor-about > img {
    width: 504px;
    height: 326px;
  }

  .sponsor-about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sponsor-reverse {
    flex-direction: row-reverse;
  }
}
