.timetable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 28px;
    margin-right: 28px;
}

.timetable-title {
    color: var(--white);
    margin-bottom: 72px;
    font-size: 54px;
    line-height: 68px;
}

.timetable__date-picker {
    display: flex;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 40px;
    width: 100%;
    justify-content: space-between;
}
.date-picker__item {
    font-size: 24px;
    line-height: 32px;
    padding: 16px;
}
.date-picker__item:is(:first-child) {
    font-family: "FuseV2Display-ExtraBold";
    border-bottom: 1px solid;
    border-image: var(--accent-main) 1;
}
.date-picker__item:not(:first-child) {
    color: var(--gray);
}

/* LECTURE TYPE */
.timetable__type-picker {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}
.timetable__type-picker__item {
    font-size: 16px;
    line-height: 16px;
}
.timetable__type-picker__item:is(:first-child) {
    color: var(--white);
}
.timetable__type-picker__item:not(:first-child) {
    color: var(--gray);
}
.timetable__type-picker__divider {
    color: var(--gray);
}

/* CARDS */
.timetable__lecture-cards-wrapper {
    display: flex;
    flex-direction: column;
}

/* OPEN CARDS */
.lecture-card__time {
    margin-right: 24px;
}

.lecture-card--desktop-view--open {
    display: none;
}

.lecture-card--mobile-view--open {
    width: 100%;
    background-color: rgba(var(--white-rgb), 0.05);
    padding: 24px;
    box-sizing: border-box;
}
.lecture-card__info-strip--mobile {
    color: var(--white);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/* SVG */
.lecture-card__icons__youtube {
    fill: var(--white);
    margin-right: 11px;
}
.lecture-card__icons__up-arrow {
    stroke: var(--white);
}
