:root {
  --black: black;

  /* Use together */
  --frosted-effect: #f5f5f70d;
  --frosted-blur-effect: blur(2px);

  --white: #f5f5f7;
  --accent-linear: linear-gradient(
    44.61deg,
    #00b5c1 9.43%,
    #4336b9 41.88%,
    #fa4343 106.56%
  );
  --accent-conic: conic-gradient(
    from 90deg at 73.72% 50%,
    #c75593 -157.26deg,
    #6a4293 89.27deg,
    #c75593 202.74deg,
    #6a4293 449.27deg
  );
}
