:root {
  /* Width definitions */
  /* Limit maximum width on large devices */
  --max-width-desktop: 1440px;

  /* Desktop cutoff width */
  --min-width-desktop: 1000px;

  /* Limit maximum width on mobile and tablet devices */
  --max-width-mobile: 800px;
}
